out
node_modules
/test/ODataTestService/.vs
/test/ODataTestService/ODataExtensions/bin/Debug
/test/ODataTestService/ODataExtensions/obj/Debug
/test/ODataTestService/ODataTestService/bin
/test/ODataTestService/ODataTestService/obj/Debug
/test/ODataTestService/ODataTestService/obj/Debug
/test/ODataTestService/ODataTestService.Tests/obj/Debug
/test/ODataTestService/ODataTestService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/test/ODataTestService/ODataTestService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/test/ODataTestService/ODataTestService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/test/ODataTestService/ODataTestService/obj/Debug/ODataTestService.pdb
/test/ODataTestService/ODataTestService/obj/Debug/ODataTestService.dll
/test/ODataTestService/ODataTestService/obj/Debug/ODataTestService.csprojResolveAssemblyReference.cache
/test/ODataTestService/ODataTestService/obj/Debug/ODataTestService.csproj.FileListAbsolute.txt
/test/ODataTestService/ODataTestService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/test/ODataTestService/packages
/test/ODataTestService/ODataTestService.Tests/bin/Debug
